*.pyc
__pycache__
venv
target/
data/
python/oak/models/
.vscode
python/oak/output/
cpp/mapping_visu/build/
cpp/mapping_visu/cmake-build-debug/
python/oak/ros2/build/
python/oak/ros2/install/
python/oak/ros2/log/
python/mapping/recordings
